body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  background-image: url("images/clouds-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.App {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  width: 600px;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  color: white;
}

::placeholder {
  color: #f8f8f8;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  margin-bottom: 20px;
  margin: 0 auto;
  width: 150px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  gap: 5px;
  color: skyblue;
  background: transparent;
}

.search:hover {
  background: linear-gradient(450deg, #87CEFA, #00BFFF);
  transition: all 0.2s;
  color: white;
}

.icon {
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.3s ease-in-out;
}

.search:hover .text {
  transform: translateX(-5px);
}

.search:hover .icon {
  opacity: 1;
  transform: translateX(0);
}